@media (max-width: 1586px) {
    body {
        background-position: top right -320px;
    }
}

@media (max-width: 800px) {
    body {
        background-position: top right -242px;
    }
}

@media (max-width: 610px) {
    body {
        background-position: top right;
    }

    .hero__subtitle {
        font-size: 24px;
    }

    .hero__title {
        font-size: 36px;
        line-height: 120%;
    }

    .hero__description {
        font-size: 16px;
    }

    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .header__logo {
        margin-bottom: 30px;
    }

    .nav {
        display: flex;
        flex-direction: column;
    }

    .nav__link {
        margin-bottom: 10px;
    }


}

@media (max-width: 500px) {
    .header {
        padding-top: 12px;
    }

    body {
        background-position: top 50px right -100px;
    }
}