@font-face {
    font-family: 'ProximaNova-Black';
    src: url('../fonts/ProximaNova-Black/ProximaNova-Black.eot');
    src: url('../fonts/ProximaNova-Black/ProximaNova-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNova-Black/ProximaNova-Black.ttf') format('truetype'),
        url('../fonts/ProximaNova-Black/ProximaNova-Black.woff') format('woff'),
        url('../fonts/ProximaNova-Black/ProximaNova-Black.woff2') format('woff2');
}

@font-face {
    font-family: 'Roboto-Black';
    src: url('../fonts/Roboto/Roboto-Black.eot');
    src: url('../fonts/Roboto/Roboto-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto/Roboto-Black.ttf') format('truetype'),
        url('../fonts/Roboto/Roboto-Black.woff') format('woff'),
        url('../fonts/Roboto/Roboto-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto/Roboto-Regular.eot');
    src: url('../fonts/Roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype'),
        url('../fonts/Roboto/Roboto-Regular.woff') format('woff'),
        url('../fonts/Roboto/Roboto-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


*,
*:after,
*:before {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto-Regular', sans-serif;
    background: #070506 url("../img/main-bg.jpg") no-repeat;
    background-position: top right;
    background-size: contain;
    background-attachment: fixed;
    color: #fff;
}

.container {
    width: 90%;
    max-width: 1060px;
    margin: 0 auto;
}

/* ----------HEADER------------ */
.header {
    padding-top: 90px;
    display: flex;
    align-items: center;
}

.header__logo {
    margin-right: 70px;
}

.nav__link {
    text-decoration: none;
    color: #fff;
}

.nav__link:not(:last-child) {
    margin-right: 15px;
}

/* //////////HEADER------------ */
/* -----------HERO---------------- */
.hero__subtitle {
    display: block;
    font-size: 40px;
    line-height: 100%;
    margin-top: 78px;
    font-family: 'ProximaNova-Black', sans-serif;
}

.hero__title {
    margin-top: 5px;
    font-size: 64px;
    line-height: 78px;
    font-family: 'ProximaNova-Black', sans-serif;
    margin-bottom: 25px;
}

.hero__description {
    font-size: 18px;
    line-height: 150%;
    color: #AFAFAF;
    max-width: 572px;
}

.hero__premier {
    font-size: 18px;
    line-height: 150%;
    color: #B02000;
    display: block;
    margin-bottom: 5px;
}

.hero__date {
    font-size: 24px;
    line-height: 150%;
    display: block;
    margin-bottom: 46px;
}

.button-play {
    text-transform: uppercase;
    background: linear-gradient(90deg, #FB641A 0%, #FC3309 100%);
    border-radius: 300px;
    border: none;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    padding: 25px 87px 25px 34px;
    position: relative;
    text-decoration: none;
    display: inline-block;
}

.button-play:after {
    content: "";
    position: absolute;
    display: block;
    width: 66px;
    height: 66px;
    background: #fff url("../img/play-icon.svg");
    background-position: 14px 14px;
    background-repeat: no-repeat;
    border-radius: 50%;
    right: 0;
    top: 0;
}

.button-play:before {
    content: "";
    position: absolute;
    display: block;
    width: 81px;
    height: 81px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    right: -8px;
    top: -8px;
}

/* ///////////HERO---------------- */
/* ----------SLIDER--------------- */
.slider {
    display: flex;
    flex-wrap: wrap;
}

.slider__item {
    height: 200px;
    box-shadow: 0px 10px 26px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 30px;
    transition: .2s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
}

.slider__item:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(80, 80, 80, 0.86);
    z-index: -1;
}

.slider__item:hover {
    background: rgba(64, 101, 255, 0.86);
}

.episodes {
    padding: 60px 0;
}

.slider__title {
    min-height: 59px;
}

.episodes__title {
    font-size: 18px;
    line-height: 150%;
    margin-bottom: 24px;
}

.slider__rating-label {
    margin-right: 12px;
}

.slider__img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -5;
}

.star {
    display: inline-block;
    width: 12px;
    height: 12px;
    background: url("../img/star.svg") no-repeat center;
}

.star-o {
    background: url("../img/star-o.svg") no-repeat center;
}

.slider__nav--left,
.slider__nav--right {
    width: 32px;
    height: 32px;
    border: none;
    cursor: pointer;
    outline: none;
}

.slider__nav--left {
    background: transparent url("../img/arrow-left.svg") no-repeat;
    background-position: center;
    margin-right: 15px;
}

.slider__nav--left span,
.slider__nav--right span {
    display: none;
}

.slider__nav--right {
    background: transparent url("../img/arrow-right.svg") no-repeat;
    background-position: center;
}

/* //////////SLIDER--------------- */